
// COLOR PALETTE
// primary
$beaver: #9e7f66 ; 
$codGray: #111111;  
// secondery
$mirage: #17192b; 
$clay: #242b37; 
$shuttleGray: #5c6779; 

// LAYOUT
$layoutPadding: 20px;

// LAYOUT BREAKPOINTS
$break-narrow: 375px;
$break-normal: 768px;
$break-wide: 1440px;